[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-debug-toolbar = "*"
black = "*"
django-webpack-loader = "*"
pywatchman = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
