{% load static %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>morszczuk</title>
    {% render_bundle 'main' 'css' %}
</head>
<body>

{% include "core/snippets/_menu.html" %}

<main role="main" class="container row pl-0">
<div class="col-lg-8 m-2 ml-2">
{% block content %}
{% endblock %}
</div>
<div class="col-lg-3 m-2  border rounded bg-light {% if not show_actions %}d-none{% endif %}">
    <h2>Actions</h2>
    {% block actions %}
    {% endblock %}
</div>


</main>
{% render_bundle 'main' 'js' %}
</body>
</html>